body {
    display: grid;
    height:100vh;
    grid-template-columns: repeat(2,1fr);
    text-transform: uppercase
    ;
}


.color {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

.color__box {
    padding:10px;
    font-weight: 600;
}

.color__box:first-child {
    background-color: black;
    color:white;
}

.color__box:nth-child(2) {
    background-color: #6C01FF;
}

.color__box:nth-child(3) {
    background-color: #FF1603;
    grid-row:  span 2;
}
.color__box:nth-child(4) {
    background-color: white;
}
.color__box:nth-child(5) {
    background-color: #FFCA04;
}

.article {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0px 10px;
}

h4 {
    margin: 0;
}