@import "reset.css";

$blue: #00A0C8;
$red:#CF3022;
$darkred:#573533;
$beige: #DCE1D4;

body {
  height:100vh;
  width:100vw;
  background-color: $beige;
  display: flex;
  justify-content: center;
  .poster {
    .top {
      display: flex;
      align-items: flex-end;
      span {
        font-weight: 800;
        padding:10px;
        line-height: 20px;
      }
    }
    .main {
      display: grid;
      grid-template-rows: 60px 1fr 60px;
      .main-row {
        font-weight: 800;
        font-size: 60px;
        &:first-child {
          background-color: $red;
        }
        &:nth-child(2) {
          display: flex;
          span {
            padding:20px 10px;
            
          }
        }
        &:last-child {
          background-color: $blue;
        }
      }
    }
    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          padding:10px;
          font-weight: 800;
          line-height: 20px;
        }
    }
    padding:10px;
    width:50%;
    height:100%;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 60px 1fr 1fr 1fr 60px;
    .bar {
      &:first-child {
        grid-column: span 3;
        background-color: $blue;
      }
      &:nth-child(2),
      &:nth-child(4) {
        grid-row: span 1;
        background-color: $blue;
      }
      &:nth-child(5),
      &:nth-child(7) {
        grid-row: span 1; 
        background-color: $darkred;
      }
      &:nth-child(8),
      &:nth-child(10) {
        grid-row: span 1;
        background-color: $red;
      }
      &:nth-child(11) {
        grid-column:  span 3;
        background-color: $red;
      }
    }
  }
}